.preview-android-notification {
    font-family: Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;
    width: 405px;
    font-size: 13px;
    background-color: white;
    padding: 16px 20px;
}

    .preview-android-notification p {
        margin-bottom: 0;
    }

.preview-android-notification-header {
    font-size: 12px;
    margin-bottom: 16px;
}

.preview-android-notification-small-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.preview-android-notification-title {
    font-weight: bold;
}

.preview-android-notification-content-text {
    text-overflow: ellipsis;
    line-height: 19px;
    max-height: 19px;
    overflow: hidden;
}

.preview-android-notification-content-and-large-icon {
    display: flex;
    flex-direction: row;
}

.preview-android-notification-content {
    flex: 1;
}

.preview-android-notification-large-icon {
    width: 48px;
    height: 48px;
}

.preview-android-notification-big-picture {
    margin-top: 16px;
    width: 100%;
}

.preview-android-notification-actions {
    margin: 12px 0 0 -6px;
}

    .preview-android-notification-actions button {
        background-color: transparent;
        border: 0;
        color: #409efe;
        font-weight: bold;
        padding: 6px;
        margin-right: 6px;
    }
