.preview-android-notification {
    font-family: Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;
    width: 405px;
    font-size: 13px;
    background-color: white;
    padding: 16px 20px;
}

    .preview-android-notification p {
        margin-bottom: 0;
    }

.preview-android-notification-header {
    font-size: 12px;
    margin-bottom: 16px;
}

.preview-android-notification-small-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.preview-android-notification-title {
    font-weight: bold;
}

.preview-android-notification-content {
    text-overflow: ellipsis;
    line-height: 19px;
    max-height: 19px;
    overflow: hidden;
}

.preview-android-notification.expanded .preview-android-notification-content {
    max-height: 152px; /* 8 lines */
}
